<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>StudentRegistrationServlet</servlet-name>
        <servlet-class>com.mycompany.livesessionexample.StudentRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniversityReportServlet</servlet-name>
        <servlet-class>com.mycompany.livesessionexample.UniversityReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.livesessionexample.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.livesessionexample.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mycompany.livesessionexample.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegistrationServlet</servlet-name>
        <url-pattern>/StudentRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniversityReportServlet</servlet-name>
        <url-pattern>/UniversityReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniversityReportServlet</servlet-name>
        <url-pattern>/studentReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniversityReportServlet</servlet-name>
        <url-pattern>/highGPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
